.btn{
    background-color: rgb(245, 168, 210);
    margin: 5px;;
}
.buttons{
    padding: 10px;
}

.gif-side{
    float: left;
}
.right-side{
    float: right;
}
body{
    background-color: antiquewhite;
}

#gif-text{
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.boxes{
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

#textInput{
    width: 90%;
}
